{% extends 'base.html' %}
{% load static %}

{% block title %}Student registration Page{% endblock title %}
{% block currentlinks %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<style>
    .content {
        min-height: 700px;
        position: relative;

    }

    .content .cover {
        position: absolute;
        min-width: 380px;
        width: 80%;
        top: 120px;
        right: 9%;
        text-align: center;
    }

    .content form {
        margin: 0 auto;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
    }

    .content form input {
        outline: none;
        width: 240px;
    }

    .content form .buttons {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .content form .buttons a {
        background-color: rgb(255, 189, 127);
        padding: 2.5px 4px;
    }

    .content form .buttons button {
        background-color: aquamarine;
        padding: 4px 8px;
        cursor: pointer;
    }

    .content form blockquote {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
</style>
{% endblock currentlinks %}

{% block body %}
<div class="content">
    <div class="cover">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <blockquote>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </blockquote>
            <blockquote>
                <label for="fname">First Name:</label>
                <input type="text" name="fname" id="fname" required>
            </blockquote>
            <blockquote>
                <label for="lname">Last Name:</label>
                <input type="text" name="lname" id="lname" required>
            </blockquote>
            <blockquote>
                <label for="dob">DoB:</label>
                <input type="date" name="dob" id="dob" required>
            </blockquote>
            <blockquote>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" required>
            </blockquote>
            <blockquote>
                <label for="stream">Stream:</label>
                <input type="text" name="stream" id="stream" required>
            </blockquote>
            <blockquote>
                <label for="standard">Standard:</label>
                <input type="text" name="standard" id="standard" required>
            </blockquote>
            <blockquote>
                <label for="mobileno">Mobile no:</label>
                <input type="number" name="mobileno" id="mobileno" maxlength="10">
            </blockquote>
            <blockquote>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </blockquote>
            <blockquote>
                <label for="conf_password">Conf. Password:</label>
                <input type="password" name="conf_password" id="conf_password" required>
            </blockquote>
            <blockquote>
                <label for="profilepic">Profile pic:</label>
                <input type="file" name="profilepic" id="profilepic" required style="width: 155px;">
            </blockquote>
            <blockquote>
                <label>User Type:</label>
                <select name="membertype" required>
                    <option value="none">--must-select--</option>
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                </select>
            </blockquote>
            <div class="buttons">
                <a href="">Refresh Form</a>
                <button type="submit">Proceed</button>
            </div>
            <blockquote style="max-width: 280px; margin:10px auto;">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}
                    style="font-size: small;font-weight: bold;text-align: center;">
                    {{message}}</p>
                {% endfor %}
                {% endif %}
            </blockquote>
        </form>
    </div>
</div>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}