<style>
    .footer {
        display: flex;
        font-size: 14px;
        flex-direction: row;
        column-gap: 15px;
        justify-content: center;
        align-items: center;
        background-color: #e6e6e6;
        padding: 3px;
        border: 1px solid #c7c7c7;
    }
</style>
<div class="footer">
    <p>copyright...@<a href="#">marvinschool.com</a></p>
    <a href="#" style="text-decoration: underline;">T&Cs</a>
    <a href="#" style="text-decoration: underline;">Desclaimer</a>

</div>